fastapi
uvicorn[standard]
aiogram
sqlalchemy[asyncio]
alembic
pydantic
pydantic-settings
python-dotenv
aiosqlite
groq
pillow
pytesseract
python-multipart
aiofiles
email_validator
httpx
pydantic[email]